<%- include('header'); -%>
<head><link rel="stylesheet" href="assets/css/about.css"></head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"
          ><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a
        >
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto outline homeStyle" href="/index">Home</a></li>
        <!-- <li><a class="nav-link scrollto" href="/profile">Profile</a></li>
          <li><a class="nav-link scrollto" href="/watch">Watch</a></li> -->
        <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <li><a class="nav-link scrollto active aboutUs outline" href="/about">About Us</a></li>
        <li><a class="nav-link scrollto contactUs outline" href="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>F.A.Q</h2> -->
      <h2>About Us</h2>
    </div>
    <div class="mainContainerForAbout">
      <div class="halfAbout" data-aos="fade-up" data-aos-delay="100">
        <h3>Why Moodry?</h3>
        <ul>
          <li>
            <h2>Backstory</h2>
            <div> Child or not, you might be around a child often. Nieces or nephews, brothers or sisters. It's good to know how children feel and to know how to support and encourage their individuality and speech. Moodry is a step towards those ideas and supports playing, creating and learning for children.</div>
          </li>
          <li>
            <h2>Why?</h2>
            <div>The emotional barriers for children to adolescence can be built, without their caretakers knowing. Be it being unable to be in a social environment or not having enough time with family; Moodry was created to directly tackle the feelings of doubt and isolation and show them that it is important to  communicate. Not just for the child, but for caretakers as well.</div>
          </li>
          <li>
            <h2>Our Mission</h2>
            <div>Encourage and improve communication between child and caretaker while helping break the emotional barriers children form as they develop. That it’s okay to open up and speak about themselves. This is done by sending data back to the caretakers to help them understand their child and their needs.</div>
          </li>
        </ul>
      </div>
      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
        <h3>Frequently Asked Questions</h3>
        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
            Is the account for my child or for me?
            <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
              volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna
              fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
            Can anybody talk to my child on Moodry?
            <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates corporis perferendis maiores eos atque repellendus nesciunt, perspiciatis saepe nostrum.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
            What should I do with the information from the profile page?<i class="bi bi-chevron-down icon-show"></i><i
              class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis
              orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra
              diam sit amet nisl suscipit. Rutrum tellus pellentesque eu
              tincidunt. Lectus urna duis convallis convallis tellus. Urna
              molestie at elementum eu facilisis sed odio morbi quis
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
            What are the age ranges to have an account on Moodry? Is it important?
            <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant
              morbi. Id interdum velit laoreet id donec ultrices. Fringilla
              phasellus faucibus scelerisque eleifend donec pretium. Est
              pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
              cursus turpis massa tincidunt dui.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
            Will there be more content in the future? Examples?
            <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo.
              Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra
              maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
              Purus gravida quis blandit turpis cursus in
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
            What's the best way to contact you if I have an issue? <i class="bi bi-chevron-down icon-show"></i><i
              class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae
              ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non
              nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
              tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat
              commodo sed egestas egestas fringilla phasellus faucibus. Nibh
              tellus molestie nunc non blandit massa enim nec.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End F.A.Q Section -->
<%- include('footer'); -%>
