<%- include('header'); -%>

<head>

  <link rel="stylesheet" href="assets/css/activity.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto homeStyle" href="/index">Home</a></li> -->
        <!-- <li>
          <a class="nav-link scrollto active myProfile outline" href="/profile">Profile</a>
        </li> -->
        <!-- <li><a class="nav-link scrollto watchNow outline" href="/watch">Kids</a></li> -->
        <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <li>
          <a class="nav-link scrollto active watchNow outline" href="/watch">Watch</a>
        </li>
        <li>
          <a class="nav-link scrollto homeStyle outline" href="/games">Games</a>
        </li>
        <li>
          <a class="nav-link scrollto contactUs outline" href="/learning">Learning</a>
        </li>
        <li>
          <a class="nav-link scrollto aboutUs outline" href="/activity">Activities</a>
        </li>
        <li><a class="nav-link scrollto logout outline" href="/logout">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle outline"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="profile-hero" class="">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>F.A.Q</h2> -->
      <h2>Fun Activities!</h2>
      <div class="section-title-div">
        <h3><%= userInfo.username %></h3>
        <div>
          <img src="/images/profile-pics/<%=userInfo.profileImage%>.png" alt="userImage">
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="leftHalf">
        <div class="dailyActivity">
          <h3>Activity of the day!</h3>
          <div class="flex-row">
            <div class="image">
              <img src="/images/gummyb.jpg" alt="">
            </div>
            <div class="information">
              <h2>Gummy Bears!</h2>
              <ul class="firstUl">
                To make homemade gummy bears with JELLO you only need a package of JELLO and some gelatin. The easy thing
                with this recipe is that you don’t need to worry about how to sweeten it. Our kids loved this version
                because JELLO is sweet. We also love how bright and colorful the JELLO versions turned out. If you have
                extra JELLO boxes lying around the house this is a perfect way to use up the box!

                <h4>Ingredients</h4>
                <li>1 package of JELLO (85g/3 oz size)</li>
                <li>1 tablespoon of gelatin</li>
                <li>1/2 cup of water</li>
                <li>gummy bear molds</li>

                <h4>Directions</h4>
                <li>Pour 1/2 cup of water into a sauce pan set on low heat</li>
                <li>Add 1 package of Jello (85 size/3 oz size)</li>
                <li>Add 1 tablespoon of gelatin</li>
                <li>Mix until all dissolved and then remove from heat</li>
                <li>Using the dropper add into your mold</li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          
          <h5>Pick an Activity to do later!</h5>
<div class="allActivity">
            <div class="outdoor events">
              <h3>Outdoor</h3>
              <ul>
                <li><a href="#">Go for a walk</a></li>
                <li><a href="#">Ride bikes</a></li>
                <li><a href="#">Fly kites</a></li>
                <li><a href="#">Play classic outdoor games such as Red Rover, Red Light Green Light, or Steal the Bacon</a></li>
                <li><a href="#">Host a nature scavenger hunt</a></li>
                <li><a href="#">Hula hoop</a></li>
                <li><a href="#">Draw a hopscotch board with chalk</a></li>
                <li><a href="#">Have a picnic at a local park, beach, or backyard</a></li>
                <li><a href="#">Make s'mores</a></li>
                <li><a href="#">Have a water balloon fight</a></li>
                <li><a href="#">Set up a lemonade stand</a></li>
                <li><a href="#">Host a dance party</a></li>
                <li><a href="#">Learn to do cartwheels</a></li>
                <li><a href="#">Make homemade bird feeders</a></li>
                <li><a href="#">Build paper airplanes. Who can make theirs fly the farthest?</a></li>
              </ul>
            </div>
            <div class="indoor events">
              <h3>Indoor</h3>
                <ul>
                  <li><a href="#">Make snow ice cream</a></li>
                  <li><a href="#">Make a fort with chairs and sheets</a></li>
                  <li><a href="#">Make homemade playdough</a></li>
                  <li><a href="#">Write a play</a></li>
                  <li><a href="#">Make sock puppets</a></li>
                  <li><a href="#">Bake cookies or a cake</a></li>
                  <li><a href="#">Stacking Cups</a></li>
                  <li><a href="#">Movie Night</a></li>
                  <li><a href="#">Paint a picture</a></li>
                  <li><a href="#">Make instruments</a></li>
                  <li><a href="#">Cut out paper snowflakes to decorate the house</a></li>
                  <li><a href="#">Play charades</a></li>
                  <li><a href="#">Make macaroni necklaces</a></li>
                  <li><a href="#">Play a board game</a></li>
                  <li><a href="#">Indoor bowling</a></li>
                </ul>
            </div>
            <div class="holiday events">
              <h3>Holiday</h3>
              <ul>
                <li><a href="#">Make Gingerbread Houses</a></li>
                <li><a href="#">Decorate your front door like a present</a></li>
                <li><a href="#">Play dress-up in old Halloween costumes</a></li>
                <li><a href="#">Pinecone bird feeder</a></li>
                <li><a href="#">Holiday Movie Night</a></li>
                <li><a href="#">Popcorn and Cranberry Garland</a></li>
                <li><a href="#">Red and Green Paper Chains</a></li>
                <li><a href="#">Make Ornaments</a></li>
                <li><a href="#">Make a Snowman</a></li>
                <li><a href="#">Paper Snowflakes</a></li>
                <li><a href="#">Make Colored PlayDough</a></li>
                <li><a href="#">Holiday Books from Library</a></li>
                <li><a href="#">Family Slumber Party</a></li>
                <li><a href="#">Roast Marshmallows or Chestnuts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<script src="assets/js/activity.js"></script>
<%- include('footer'); -%>