<%- include('header'); -%>

<head>

  <link rel="stylesheet" href="assets/css/games.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto homeStyle" href="/index">Home</a></li> -->
        <li>
          <a class="nav-link scrollto active watchNow outline" href="/watch">Watch</a>
        </li>
        <li>
          <a class="nav-link scrollto homeStyle outline" href="/games">Games</a>
        </li>
        <li>
          <a class="nav-link scrollto contactUs outline" href="/learning">Learning</a>
        </li>
        <li>
          <a class="nav-link scrollto aboutUs outline" href="/weechat">WeeChat</a>
        </li>
        <li><a class="nav-link scrollto logout outline" href="/logout">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle outline"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="profile-hero" class="">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>F.A.Q</h2> -->
      <h2>Games</h2>
       <div class="section-title-div">
          <h3><%= userInfo.username %></h3>
        <div>
          <img src="/images/profile-pics/<%=userInfo.profileImage%>.png" alt="userImage">
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="leftHalf">
        <div>
          <h4>Geometry Tower</h4>
          <a href="/gameOne" class="games gameOne" data-value="Geometry Tower"><img src="/images/games/geometry-tower.jpg" alt=""></a>
        </div>
        <div>
          <h4>Smarty Bubbles</h4>
          <a href="/gameTwo" class="games gameTwo" data-value="Smarty Bubbles"><img src="/images/games/smartybubbles.jpg" alt=""></a>
        </div>
        <div>
          <h4>Stack Colors</h4>
          <a href="/gameThree" class="games gameThree" data-value="Stack Colors"><img src="/images/games/stackColors.png" alt=""></a>
        </div> 
        <div>
          <h4>Beat Hop</h4>
          <a href="/gameFour" class="games gameFour" data-value="Beat Hop"><img src="/images/games/beathop.png" alt=""></a>
        </div>
        
      </div>
      <!-- <div class="rightHalf">
        
      </div> -->
    </div>
    </div>
  </div>
</section>
<!-- <script src="assets/js/table.js"></script> -->
<script src="assets/js/games.js"></script>
<%- include('footer'); -%>