<%- include('header'); -%>

<head>

  <link rel="stylesheet" href="assets/css/learning.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto homeStyle" href="/index">Home</a></li> -->
        <li>
          <a class="nav-link scrollto active watchNow outline" href="/watch">Watch</a>
        </li>
        <li>
          <a class="nav-link scrollto homeStyle outline" href="/games">Games</a>
        </li>
        <li>
          <a class="nav-link scrollto contactUs outline" href="/learning">Learning</a>
        </li>
        <li>
          <a class="nav-link scrollto aboutUs outline" href="/weechat">WeeChat</a>
        </li>
        <li><a class="nav-link scrollto logout outline" href="/logout">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle outline"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="profile-hero" class="">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>F.A.Q</h2> -->
      <h2>Learning</h2>
       <div class="section-title-div">
          <h3><%= userInfo.username %></h3>
        <div>
          <img src="/images/profile-pics/<%=userInfo.profileImage%>.png" alt="userImage">
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="leftHalf">
        <div>
          <h4>My Multiplication</h4>
          <a href="/learnOne"><img src="/images/learning/multiply.png" alt=""></a>
        </div>
        <div>
          <h4>Matching Addition</h4>
          <a href="/learnTwo"><img src="/images/learning/matchingAddition.jpg" alt=""></a>
        </div>
        <div>
          <h4>Animal Farm</h4>
          <a href="learnThree"><img src="/images/learning/animalFarm.jpg" alt=""></a>
        </div>
      </div>
      <!-- <iframe src="https://learningapps.org/watch?v=pagh8fp8k21" style="border:0px;width:100%;height:500px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>-->
      <!-- <iframe src="https://learningapps.org/watch?v=p5psvj0o321" style="border:0px;width:100%;height:500px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->
      <!-- <iframe src="https://learningapps.org/watch?v=pz9tm7q4c21" style="border:0px;width:100%;height:500px" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->
    </div>
    </div>
  </div>
</section>
<script src="assets/js/table.js"></script>
<%- include('footer'); -%>