<%- include('header'); -%>

<head>
  <link rel="stylesheet" href="assets/css/onboard.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"><span>
            <!-- <span class="purple">M</span> -->
            <span class="blue">oo</span>
            <!-- <span class="darkgreen">d</span> -->
            <!-- <span class="yellow">r</span> -->
            <!-- <span class="orange">y</span> -->
            <!-- <span class="red">x</span> -->
          </span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto active homeStyle" href="/index">Home</a></li> -->
        <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <li><a class="nav-link scrollto aboutUs outline" href="/about">About Us</a></li>
        <li>
          <a class="nav-link scrollto contactUs outline" href="/contact">Contact</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<div class="container overallContainer">
  <section id="hero" class="d-flex align-items-center">
    <div class="container landingContainer">
      <div class="row">
        <div class="openingMessage">
          <div class="logo">
            <h2 class="text-light">
              <a href="/index"><span>
                  <span class="purple">M</span>
                  <span class="blue">oo</span>
                  <span class="darkgreen">d</span>
                  <span class="yellow">r</span>
                  <span class="orange">y</span>
                </span></a>
            </h2>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
          <h4>Welcome! Please Enter The Required Information. Pick An Avatar For your Child And Then Click Continue!</h4>
        </div>
        <div>
          <form class="myForm" autocomplete="off">
            <div class="adjustForm">
              <div class="information">
                <div class="form-div">
                  <label for="name">Name</label>
                  <input class="name" type="text" name="name" placeholder="Enter A Name" required >
                </div>
                <div class="form-div">
                  <label for="username">Username</label>
                  <input class="username" type="text" name="username" placeholder="Enter A Name" required>
                </div>
                <div class="form-div">
                  <label for="age">Age</label>
                  <input class="age" name="age" placeholder="Enter Age" name="age" type="number" min="3" max="10">
                </div>
                <div class="form-div">
                  <label for="birthday">Birthday</label>
                  <input class="birthday" type="date" required>
                </div>
                <div class="form-div">
                  <label for="grade">Grade</label>
                  <input class="grade" name="grade" type="text" placeholder="Enter Grade" required>
                </div>
                <div class="form-div">
                  <label for="favorites">Favorite Show</label>
                  <input class="favorite" type="text" name="favorites" placeholder="Favorite Shows?">
                </div>

              </div>
              <div class="profilePicture">
                <ul>
                  <li>
                    <img src="/images/profile-pics/boy1.png" alt="img1">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy1" required>
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl1.png" alt="img2">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl1">
                  </li>
                  <li>
                    <img src="/images/profile-pics/boy2.png" alt="img3">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy2">
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl2.png" alt="img4">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl2">
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="/images/profile-pics/boy3.png" alt="img5">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy3">
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl3.png" alt="img6">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl3">
                  </li>
                  <li>
                    <img src="/images/profile-pics/boy4.png" alt="img7">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy4">
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl4.png" alt="img8">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl4">
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="/images/profile-pics/boy5.png" alt="img1">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy5">
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl5.png" alt="img1">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl5">
                  </li>
                  <li>
                    <img src="/images/profile-pics/boy6.png" alt="img1">
                    <input class="profileImage" type="radio" name="userImage" data-image="boy6">
                  </li>
                  <li>
                    <img src="/images/profile-pics/girl6.png" alt="img1">
                    <input class="profileImage" type="radio" name="userImage" data-image="girl6">
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <a id="submit" href="#">Add</a>
              <button type="submit" class="get-started-btn cred-btn">
                <i class="fas fa-arrow-circle-right"></i>
              </button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->
</div>
<script src="assets/js/profileImage.js"></script>
<%- include('footer'); -%>