<%- include('header'); -%>
<head>
  <link rel="stylesheet" href="assets/css/watch.css" />
</head>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/index"
          ><span>
            <span class="purple">M</span>
            <span class="blue">oo</span>
            <span class="darkgreen">d</span>
            <span class="yellow">r</span>
            <span class="orange">y</span>
          </span></a
        >
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- <li><a class="nav-link scrollto homeStyle" href="/index">Home</a></li> -->
        <li>
          <a class="nav-link scrollto myProfile outline" href="/profile">Profile</a>
        </li>
        <li>
          <a class="nav-link scrollto active watchNow outline" href="/watch">Watch</a>
        </li>
        <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
        <li>
          <a class="nav-link scrollto aboutUs outline" href="/aboutUser">About Us</a>
        </li>
        <li>
          <a class="nav-link scrollto contactUs outline" href="/contactUser">Contact</a>
        </li>
        <li><a class="nav-link scrollto logout outline" href="/logout">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<!-- ======= Watch Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <!-- <h1>Better digital experience with Ninestars</h1>
          <h2>
            We are team of talented designers making websites with Bootstrap
          </h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <!-- <img
            src="assets/img/hero-img.svg"
            class="img-fluid animated"
            alt=""
          /> -->
      </div>
    </div>
  </div>
</section>
<!-- End Watch -->
