/* #hero {
  background-color: #00C3F7;
  width: 100%;
} */
.overallContainer {
  width: 100%;
  /* height: 100vh; */
}

#contact {
  /* width: 100%; */
  font-family: 'Varela Round', sans-serif;
  background: url(/images/childDrawing.png) center;
  background-size: contain;
  background-color: #21cfff;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#header {
  background-color: #84E2FB;
}

.col-lg-6 {
  /* background-color: red; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h2 {
  color: rgb(255, 249, 249);
  font-size: 2rem;
}

#hero .container form input {
  font-family: 'Varela Round', sans-serif;
}

.g-4, .gy-4 {
  border: 1px solid black;
  height: 600px;
}

.col-lg-6 {
  border: 1px solid red;
}

h3 span{
  letter-spacing: -1.9px;
}

h3 .blue:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 14px;
  left: 6px;
  top: 22px;
  border-top: 2px solid red;
  border-radius: 50%;
  transform: rotate(180deg) scaleX(-1);
}

section {
  padding: 95px 0;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    /* opacity: 1; */
    /* transform: translateZ(0); */
    /* margin-top: 20px; */
    background-color: #00c8ff00;
}

.section-title h2 {
  /* border: 1px solid black; */
  padding-top: 25px;
  font-family: jelly;
  font-size: 4rem;
  color: orange;
  font-weight: normal;
  line-height: normal;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.contact .info i {
    font-size: 25px;
    color: white;
    float: left;
    width: 44px;
    height: 44px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info i:hover {
  background-color: blue;
}

.contact .info {
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  border-radius: 10px;

}

.contact .php-email-form {
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  border-radius: 10px;
}

.contact .php-email-form button[type="submit"] {
  background-color:orange;
}
