#hero {
  background-color: #00c2f700;
  width: 85%;
  height: 1000px;
  /* border: 1px solid black; */
  margin: 0 auto;
  border-radius: 0px;
}

#hero .section-title h2 {
  /* padding-top: 25px; */
  font-family: jelly;
  font-size: 4rem;
  color: blue;
  font-weight: normal;
  line-height: normal;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}


.section-title {
  /* border: 1px solid black; */
  margin: 25px 0px;
  height: 75px;
  text-align: center;
  /* padding-bottom: 30px; */
  /* border: 1px solid black; */
  height: 100px;
}

.overallContainer {
  width: 100%;
  /* height: 100vh; */
}

body {
  width: 100%;
  background-color: #4DD5F9;
}

#header {
  background-color: #84E2FB;
}


.col-lg-6 {
  /* background-color: red; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h2 {
  color: rgb(255, 249, 249);
  font-size: 2rem;
}

#hero .container form input {
  font-family: cursive;
}

.row.gy-4 {
  border: 1px solid black;
  height: 850px;
  background-color:white;
  /* display: flex; */
}

.profileTitle {
  font-size: 3rem;
  height: 200px;
  width: 200px;
}

.leftHalf, .rightHalf {
  border: 1px solid black;
  height: 400px;
  width: 100%;
}
.leftHalf h4, .rightHalf h4, .linkToHelp h4, .rightHalf h3 {
  text-align: center;
}

.leftHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.myInfo, .myComments {
  border: 1px solid black;
  width: 550px;
  height: 350px;
}

.linkToHelp {
  border: 1px solid black;
  height: 100px;
  width: 550px;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
  margin-top: 150px;
  /* margin-top: 20px; */
  background-color: #fff;
  width: 100%;
  background-color:rgba(255, 255, 255, 0);
}